<nav>
	<button aria-label="Open menu">
		<span></span>
		<span></span>
		<span></span>
	</button>

	<ul>
		<div class="head">
			<svg>
				<use xlink:href="/media/images/close.svg#close"></use>
			</svg>

			<h3>Comma</h3>

			<img src="/media/images/logo.png" alt="Comma logo" />
		</div>

		<li>
			<a href="/">
				<svg>
					<use xlink:href="/media/images/projects.svg#projects"></use>
				</svg>
				Projects
			</a>
		</li>
		<li>
			<a href="/settings">
				<svg>
					<use xlink:href="/media/images/settings.svg#settings"></use>
				</svg>
				Settings
			</a>
		</li>
		<li>
			<a href="/logout">
				<svg>
					<use xlink:href="/media/images/logout.svg#logout"></use>
				</svg>
				Logout
			</a>
		</li>
	</ul>
</nav>

<a href="/">
	<img src="/media/images/logo.png" alt="Comma logo" />
</a>

<a href="/settings">
	<svg>
		<use xlink:href="/media/images/settings.svg#settings"></use>
	</svg>
</a>
